/* .home-show-display{
    width: 100%;
    height: 600px;
    position: absolute;
    padding-top: 0px;
} */

.homepage-browse{
    /* height: 1500px; */
    position: relative;
    background-color:rgb(15,15,15);
}

.home-show-display{
    display: block;
    width: 100%;
    /* height: 600px; */
    position: relative;
}

.home-vid{
    object-fit: cover;
    margin-top: 60px;
    max-height: 85vh;
}

.shows-by-genres-display{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
}

/* .shows-under-genre{
    height: 200px;
} */

.genre-tag{
    display: inline;
    color: white;
    font-size: 30px;
    overflow-x: hidden;
}

.show-list{
    display: flex;
    position: relative;
    height: 25vh;
    width: 100vw;
    padding-bottom: 5vh;
}

/* .show{
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
} */

.show-picture{
    position: absolute;
    height: 100%;
    object-fit: fill;
    margin-right: 10px;
}

.show-vid{
    display: block;
    height: 100%;
    object-fit: fill;
    margin-right: 10px;
}

.show-pic-vid:hover .show-picture{
    display: none;
}

.show-pic-vid:hover{
    display: block;
    top: -25px;
    z-index: 888;
    width: 25%;
    height: 130%;

}

.show-pic-vid{
    position: relative;
    width: 20%;
    display: block;
    margin-right: 10px;
    height: 100%;
    object-fit: fill;
}
