.nav-bar{
    display: flex;
    position: fixed;
    width: 100%;
    background-color:rgb(20,20,20);
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    z-index: 100;
}

.nav-sub-btns{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
}

.nav-sub-c{
    margin-right: 20px;
    align-self: center ;
}

.browse-logo{
    margin-right: 25px;
    margin-left: 25px;
    color: red;
    font-size: 30px;
    font-weight: 800;
}

.logout-btn{
    margin-right: 25px;
    color: red;
    font-family: sans-serif;
}

.selected-nav{
    color: white;
}

.nav-home:hover{
    color: darkgray;
}

.nav-tv-shows:hover{
    color: darkgray;
}

.nav-movies:hover{
    color: darkgray;
}

.nav-mylist:hover{
    color: darkgray;
}

.right-bar{
    display: flex;
    align-items: center;
}

.search-bar-wrapper{
    color: white;
    padding: 5px;
    border: 1px solid white;
    margin-right: 10px;
}

.search-bar{
    display: flex;
}

.search-bar ::placeholder{
    color: gray;
}

.nav-user-dropdown{
    display: block;
    width: 50%;
    height: 50%;
    background-image: url("zenitsu.png");
}

.dropdown-menu{
    display: none;
}