.main{
    background-size: cover;
    height: 100vh;
    background-image: image-url('aniflixpic.jpg');
}
    
    .mainpage-background{
    position: fixed;
    width: 100%;
    z-index: -1; 
    background-size: cover;
    height: 100%;
}

.mainpage-background img{
    position: absolute;
    min-width: 100vh;
    min-height: 100%;
}

// .mainpage-background{
//     position: fixed;
//     width: 100%;
//     z-index: -1; 
//     background-size: cover;
//     min-height: 100%;
//     min-width: 100%;
//     height: auto;
// }

.main-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

    /* width: 500px; */
}

.main-info > h1{
    font-size: 50px;
    color: red;
    font-weight: 900;
}

.main-info > h2{
    font-size: 20px;
    font-weight: 900;
    color: red;
}

.main-nav{
    display: flex;
    // height: 35px;
    justify-content: space-between;
    // align-items: center;
}


.logo{
    height: 50px;
    width: 150px;
    margin: 10px 10px 10px 10px;
    font-weight: 900;
    /* background-color: blue; */
    color: red;
    font-size: 50px;
}

.login-button{
    color: white;
    position: relative;
    width: 50px;
    padding: 5px 10px;
    height: 20px;
    align-content: center;
    background-color: red;
    right: 15px;
    top: 20px;
    border-radius: 5px;
}

.demo-user-button{
    width: 15%;
    /* height: 30px; */
    color: white;
    border-radius: 5px;
    font-size: 18px;
    background-color: red;
    text-align: center;
    padding: 15px 0px;
    margin-top: 20px;
}
