.hover-box:hover{
    cursor: pointer;
}

.sign-error{
    color: orange;
}

.sign-box-errors{
    padding-bottom: 5px;
}

.show-title{
    color: white;
}

.frontErrors{
    color: orange;
    position: relative;
    margin: 0px;
    font-size: 15px;
    font-family: sans-serif;
}

.selected-nav{
    color: white;
}

.empty-show-list{
    display: table;
    position: relative;
    margin: 0 auto;
    color: white;
    top: 100px;
    font-family: sans-serif;
}

.empty-show-list > div {
    margin-bottom: 10px;
}


.mylistbtn2{
    margin-left: 10px;
}

.show-pic-vid:hover > .mylistbtn3{
    display: flex;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgba(133,133,133,0.6);
    padding: 5px;
    position: absolute;
    top: 58%;
    left: 68%;
    z-index: 900;
}

.show-pic-vid > .mylistbtn3{
    display: none;
}

.show-pic-vid:hover > .mylistbtn4{
    display: flex;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(133,133,133,0.6);
    padding: 5px;
    position: absolute;
    top: 58%;
    left: 68%;
    font-size: 2em;
    color: white;
    z-index: 900;
}

.show-pic-vid > .mylistbtn4{
    display: none;
}