.hover-box:hover{
    cursor: pointer;
}

.sign-error{
    color: orange;
}

.sign-box-errors{
    padding-bottom: 5px;
}

.show-title{
    color: white;
}

.plz{
    height: 100px;
    widows: 100px;
    z-index: 10;
}