.type-shows-display{
    display: flex;
    position: relative;
    justify-content: center;
    top: 100px;
    background-color:rgb(15,15,15);
    padding-bottom: 100px;
    height: auto;
    flex-wrap: wrap;
}

.type-shows-display > .show-pic-vid{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20vh;
    width: 20vw;
}

.type-shows-display > .show-pic-vid:hover{
    top: 0px;
    height: 32vh;
    width: 25vw;
}

.search-browse{
    min-height: 100vh;
    position: relative;
    background-color:rgb(15,15,15);
}