.type-shows-display{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
    height: auto;
    flex-wrap: wrap;
}

.type-shows-display > .show-pic-vid{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20vh;
}

.type-shows-display > .show-pic-vid:hover{
    top: 0px;
    height: 30vh;
}

